# Node.js
node_modules/

# Next.js
.next/
out/
.next/cache
# IDE/editor specific
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Build files
build/
dist/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn
.yarn/

# npm
*.lock
.pnp.*

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

# webpack output files
/dist/
/build/
*.bundle.js
*.bundle.css
