@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}

nav {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: white;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.btn {
  min-height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}

.custom-bg {
  background-image: url("../public/images/bg.png");
  background-position: center;
  background-size: cover;
}
